@model TicketStore.Models.ViewModels.Event.EventViewModel

@{
    ViewBag.Title = "PaymentDetails";
}

<br />
<div class="container-fluid" style="background: gray">
    <br>
    <div class="row text-center">
        <div class="col-sm-1">
        </div>

        <div class="col-sm-2">
            <figure class="product-category">
                <h4 style="color: orange">@Html.DisplayFor(vms => vms.Hour)</h4>
                <h4 style="color: white">@Html.DisplayFor(vms => vms.DateDetails)</h4>
            </figure>
        </div>
        <div class="col-sm-1">
            <figure class="product-category">
                <p></p>
            </figure>
        </div>
        <div class="col-sm-2">
            <figure class="product-category">
                <h3 style="color: orange">@Html.DisplayFor(vms => vms.Name)</h3>
            </figure>


        </div>
        <div class="col-sm-1">
            <figure class="product-category">
                <p></p>
            </figure>
        </div>
        <div class="col-sm-2">
            <figure class="product-category">
                <h4 style="color: orange;">@Html.DisplayFor(vms => vms.Location)</h4>
                <h4 style="color: white;">@Html.DisplayFor(vms => vms.CityCountry)</h4>
            </figure>
        </div>


    </div>
</div>
<br/>

<div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="thumbnail col-lg-5" style="background-color: gray">
                <div style="background-color: red">
                    <center>
                        <br/>
                        <h1 class="section-header" style="color: black">
                            Fill in the data to proceed with the purchase
                            <span class="content-header wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s"> </span>
                        </h1>
                    </center><br/>
                    <h3></h3>
                </div>
                <br/>
                <div class="container">
                    <form class="col-sm-offset-3">
                        <div class="col-md-8 form-line">
                            <div class="form-group">
                                <center>
                                    <label for="exampleInputUsername">NAME</label>
                                </center>
                                <input type="text" class="form-control" id="" placeholder="Enter your full name">
                            </div>
                            <div class="form-group">
                                <center>
                                    <label for="exampleInputEmail">TELEPHONE</label>
                                </center>
                                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your telephone">
                            </div>
                            <div class="form-group">
                                <center><label for="telephone">ADDRESS</label></center>
                                <input type="tel" class="form-control" id="telephone" placeholder="Enter your delivery address">
                            </div>
                            <div class="form-group">
                                <center><label for="description"> NOTE</label></center>
                                <textarea class="form-control" id="description" placeholder=""></textarea>
                            </div>
                            <div>
                                <button type="button" onclick="pay()" class="btn btn-danger submit">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>Next
                                </button>
                            </div>
                            <br />
                            <br />
                        </div>

                    </form>
                </div>
                @*<div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            10.0 stars
                        </p>

                    </div>*@
            </div>
        </div>
    </div>

    <script>
        function pay() {
            $('.thumbnail').text('').append($('                                '+
'    <!-- CREDIT CARD FORM STARTS HERE -->                                     '+
'    <div class="panel-heading display-table" >                                 '+
'        <div class="row display-tr" style="background-color: red">                                          ' +
'            <center>       ' +
                '<br>                                                   '+
'                <h2>Payment Details</h2>       '+
'            </center><br>'+
'            <div class="display-td" style="background-color: grey"> ' +
'                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png"> '+
'            </div> '+
'        </div><br> '+
'    </div> '+
'    <center> '+
'        <form role="form" id="payment-form" method="POST" action="javascript:void(0);"> '+
'            <div class="row"> '+
'                <div class="col-xs-12 col-md-12"> '+
'                    <div class="form-group"> '+
'                        <label for="cardNumber">CARD NUMBER</label> '+
'                        <div class="input-group"> '+
'                            <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus/>' +
'                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span> '+
'                        </div> '+
'                    </div> '+
'                </div> '+
'            </div> '+
'            <div class="row"> '+
'                <div class="col-xs-12 col-md-12"> '+
'                    <div class="form-group"> '+
'                        <label for="cardExpiry"><span class="hidden-xs">EXP DATE</span></label> '+
'                        <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required /> '+
'                    </div> '+
'                    <div class="form-group"> '+
'                        <label for="cardCVC">CV CODE</label> '+
'                        <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required /> '+
'                    </div> '+
'                </div> '+
' '+
'            </div> '+
'            <div class="row"> '+
'                <div class="col-xs-12"> '+
'                    <div class="form-group"> '+
'                        <label for="couponCode">COUPON CODE</label> '+
'                        <input type="text" class="form-control" name="couponCode" /> '+
'                    </div> '+
'                </div> '+
'            </div> '+
'            <div class="row"> '+
'                <div class="col-xs-12"> '+
'                    <button class="subscribe btn btn-danger" type="button">Start Subscription</button> '+
'                </div> '+
'            </div><br><br> '+
'            <div class="row" style="display: none;"> '+
'                <div class="col-xs-12"> '+
'                    <p class="payment-errors"></p> '+
'                </div> '+
'            </div> '+
'        </form> '+
'    </center> '+
'    <!-- CREDIT CARD FORM ENDS HERE --> '));
        }
    </script>

