@model TicketStore.Models.BindingModels.Category.CategoryBindingModel
@{
    ViewBag.Title = "AddCategory";
}

<div class="container">
    <br />
    <br />
    <center>
        <h2 style="color: red">Create Category</h2>
    </center>
    <br />
    <br />
    <div class="row text-center">
        <div class="col-sm-4">
        </div>
        @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { @class = "col-sm-5" }))
        { @Html.AntiForgeryToken()
            <center>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", required = "true", PlaceHolder = "Enter category name" } })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div>
                </div>
            </center>

            <div><br /></div>

            <center>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.EditorFor(m => m.Image, new { htmlAttributes = new { @class = "form-control", type = "text", required = "false", PlaceHolder = "Enter category image" } })
                            @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div>
                </div>
            </center>

            <div><br/></div>

            <center>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.AllCategoryId, new List<SelectListItem>(ViewBag.MainCategoriesNames), "--- Select Main Category--- ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AllCategoryId, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div>
                </div>
            </center>

            <div><br/></div>

            <div class="col-sm-10">
                <input type="submit" id="btn-add-category" class="btn btn-primary btn-lg" value="Save" />
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
        }
    </div>
</div>