@model TicketStore.Models.ViewModels.Customer.CustomerProfileViewModel

@{
    ViewBag.Title = "MyProfile";

}


<br>
<div class="container">
    <div class="row">
        <div class="col-md-6  toppad  pull-right col-md-offset-4 ">

            <p class="text-info">@DateTime.Now</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad", style="color: white">
            <br/>
                
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../Content/images/boy-512.png" class="img-circle img-responsive"> </div>
                        <div class="col-md-9 col-lg-9 ">
                            <table >
                                <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td class="val">@Html.DisplayFor(vms => vms.FullName)</td>
                                    <td>
                                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Birth Date:</td>
                                    <td class="val">26/11/1981</td>
                                    <td>
                                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                    </td>
                                </tr>
                                   
                                <tr>
                                    <td>Address:</td>
                                    <td class="val">@Html.DisplayFor(vms => vms.Address)</td>
                                    <td>
                                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                    </td>
                                </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td class="val"><a href="mailto:info@support.com">@Html.DisplayFor(vms => vms.Email)</a></td>
                                        <td>
                                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                        </td>
                                    </tr>
                                <tr>
                                    <td>Tel:</td>
                                    <td class="val">@Html.DisplayFor(vms => vms.Telephone)</td>
                                    <td>
                                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            <a href="#" onclick="editProfil()" class="btn btn-primary">Промени профила</a><br/>
                            <a href="#well" class="btn btn-danger">My last visits</a>
                        </div>
                    </div>
                </div>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>

            </div>
    </div>
</div>


<div id="well" class="well">
    <h2>Мойте посещения</h2>
    <div class="text-right">
        <a class="btn btn-success">Изчисти историята</a>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Дързост и красота
            <span class="pull-right">От преди 10 дена</span>
            <p>This product was great in terms of quality. I would definitely buy another!</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Концерет на Милко Калайджиев
            <span class="pull-right">От преди 1 година</span>
            <p>This product was great in terms of quality. I would definitely buy another!</p>
        </div>
    </div>
    <hr>


</div>

<script>
    function editProfil() {
        let values = $('.val');
        values.text('');
        values.append($('<input>').attr('type', 'text'));
        $('div .col-md-9').append($('<button>').text('Save').attr('class', 'btn btn-primary'));


        $.ajax({
    
        });
    }
</script>

